body {
	margin: 0;
}

#parallax-container {
   display: block;
   height: 1000px; // This height can be adjusted here and below
}

.headline {
	margin-top: 250px;
	margin-left: 200px;
}

.header {
	position: fixed;
	overflow: hidden;
	top: 0;
}

.bg {
	height: 140%;
}

.ski {
	margin-top: 11%;
	text-align: right;
	width: 100%;
}


#parallax-container div {
   position: fixed;
   top: 0;
   background-position: center !important;
   transform: translateY(0px);
   height: 100%; // Keep this the same height as above
   width: 100%;
}

#content {
   position: relative;
   margin-top: -50px;
   min-height: 1000px;
   background: #d2cccc;
   text-align: center;
   width: 100%;
   
}

.content-container {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: -200px;
}

.content-block {
	margin-top: 50px;
	width: calc(100vw - 400px);
	padding: 0px;
}

.footer {
	margin-top: 70px;
}